<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>siswaServlet</servlet-name>
        <servlet-class>control.siswaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kategoriServlet</servlet-name>
        <servlet-class>control.kategoriServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>akunServlet</servlet-name>
        <servlet-class>control.akunServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pembayaranServlet</servlet-name>
        <servlet-class>control.pembayaranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jurnalServlet</servlet-name>
        <servlet-class>control.jurnalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jurnal_test</servlet-name>
        <servlet-class>control.jurnal_test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test_jurnal</servlet-name>
        <servlet-class>control.test_jurnal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bo_servlet</servlet-name>
        <servlet-class>control.bo_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>control.userServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>control.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackupRestoreDB</servlet-name>
        <servlet-class>control.BackupRestoreDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>siswaServlet</servlet-name>
        <url-pattern>/siswaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kategoriServlet</servlet-name>
        <url-pattern>/kategoriServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>akunServlet</servlet-name>
        <url-pattern>/akunServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pembayaranServlet</servlet-name>
        <url-pattern>/pembayaranServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jurnalServlet</servlet-name>
        <url-pattern>/jurnalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jurnal_test</servlet-name>
        <url-pattern>/jurnal_test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test_jurnal</servlet-name>
        <url-pattern>/test_jurnal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bo_servlet</servlet-name>
        <url-pattern>/bo_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackupRestoreDB</servlet-name>
        <url-pattern>/BackupRestoreDB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
